/* your styles go here */
.logo_img{
	max-height: 60px;
	max-width: 60px;
}

.justified{
	text-align: justify;
	text-justify: inter-word;
}

.btn-back{
	background-color: #454545;
	opacity: 0.8;
}

.btn-back:hover{
	background-color: #454545;
	opacity: 0.9;
}